body {
  width: 80em;
  margin: 0 auto;
  background-color: #b0ddff;
  background-position: center;
}


img{
	height: 580px;
	width: 480px;
	margin-top: 50px;
	float: left;
	
}

p{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 22;
}

.list a{
	color: black;
	padding: 25px;
	text-decoration: none;
	
}

